@import url("https://fonts.googleapis.com/css?family=Raleway:300,500,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*============= social buttons ==========*/
.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin-top: 15px;
  width: 100%;
}

/*=============== blog ============*/
.social__media-blog {
  background: #e17b77;
}

.social__media-blog-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.social__media-blog-link::before {
  content: "\f5fc";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  /*margin-right: 0.5em;*/
  padding: 10px 0;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*=============== facebook ============*/
.social__media-facebook {
  background-color: #3b5998;
}

.social__media-facebook-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.social__media-facebook-link::before {
  content: "\f5fc";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  padding: 10px 0;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*=============== twitter ============*/
.social__media-twitter {
  background-color: #00aced;
}

.social__twitter-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.social__twitter-link::before {
  content: "\f5fc";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  padding: 10px 0;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*=============== github ============*/
.social__media-github {
  background-color: #333;
}

.social__github-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.social__github-link::before {
  content: "\f5fc";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  padding: 10px 0;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*=============== linkedin ============*/
.social__media-linkedin {
  background-color: #007bb6;
}

.social__linkedin-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.social__linkedin-link::before {
  content: "\f5fc";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  padding: 10px 0;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*============Mobile===========*/
/*============Desktop===========*/
/*================= IMPORTS ================================*/
html, body {
  background: #c3cfe2;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
}

header {
  padding-top: 0.8em;
  height: 4em;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  background: #686de0;
}

/*============= Main ===========*/
.testimonial-container {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.testimonial {
  position: relative;
  height: 450px;
  width: 350px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60% 40%;
      grid-template-rows: 60% 40%;
  -webkit-transition: 350ms opacity ease-in-out;
  transition: 350ms opacity ease-in-out;
  cursor: pointer;
}

.testimonial:hover {
  opacity: 0.1;
}

.testimonial:hover .button {
  z-index: 9999;
  display: block;
}

.button {
  position: absolute;
  top: 40%;
  left: 33%;
  display: none;
  width: 120px;
  height: 50px;
  background: #686de0;
  -webkit-transition: visibility ease-in 350ms;
  transition: visibility ease-in 350ms;
}

.button:hover {
  color: #4d0000;
  border: 5px solid #ffffff;
}

.button::before {
  content: 'More';
  font-size: 1.5em;
  font-weight: 900;
  color: #ffffff;
}

.testimonial__beschrijving-box {
  padding: 1em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #ffffff;
}

.testimonial__beschrijving {
  padding: 10px;
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.9rem;
  color: #4d0000;
}

.testimonial__img {
  margin-top: -5rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.testimonial__footer {
  text-align: center;
  color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #686de0;
}

.testimonial__name {
  padding-top: 20px;
  color: #ffffff;
}

.testimonial__website {
  padding-top: -10px;
  color: #B0B3EA;
}

/*============= social buttons ==========*/
.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin-top: 15px;
  width: 100%;
}

/*=============== blog ============*/
.social__box-blog {
  background: #e17b77;
}

.social__blog-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.social__blog-link::before {
  content: "\f5fc";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  padding: 10px 0;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*=============== facebook ============*/
.social__box-facebook {
  background-color: #3b5998;
}

.social__facebook-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.social__facebook-link::before {
  content: "\f5fc";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  padding: 10px 0;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*=============== twitter ============*/
.social__box-twiter {
  background-color: #00aced;
}

.social__twitter-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.social__twitter-link::before {
  content: "\f5fc";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  padding: 10px 0;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*=============== github ============*/
.social__box-github {
  background-color: #333;
}

.social__github-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.social__github-link::before {
  content: "\f5fc";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  padding: 10px 0;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*=============== linkedin ============*/
.social__box-linkedin {
  background-color: #007bb6;
}

.social__linkedin-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.social__linkedin-link::before {
  content: "\f5fc";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  padding: 10px 0;
  color: #ffffff;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*============= end Main ===========*/
footer {
  padding-top: 2em;
  height: 5em;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  background: #686de0;
}

/*=============================================*/
/*============Mobile===========*/
/*============Desktop===========*/
/*==================== Tablet ===========================*/
@media only screen and (min-width: 620px) {
  .testimonial-container {
    padding: 1%;
    width: 100;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/*==================== Desktop ===========================*/
@media only screen and (min-width: 1024px) {
  .testimonial-container {
    padding: 1%;
    width: 70%;
    margin-left: 2%;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  /*============= social buttons ==========*/
  .social {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    position: fixed;
    top: 25%;
    right: -10.5%;
    width: 14em;
    height: 30%;
    padding-right: 3em;
  }
  .social {
    direction: rtl;
  }
  .social > * {
    direction: ltr;
  }
  item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    width: 100%;
  }
  item:hover {
    width: 228%;
  }
  /*=============== blog ============*/
  .social__blog-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .social__blog-link:before {
    display: inline-block;
    font-size: 3em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  /*=============== facebook ============*/
  .social__facebook-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .social__facebook-link::before {
    display: inline-block;
    font-size: 3em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  /*=============== twitter ============*/
  .social__twitter-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .social__twitter-link::before {
    display: inline-block;
    font-size: 3em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  /*=============== github ============*/
  .social__github-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .social__github-link::before {
    display: inline-block;
    font-size: 3em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  /*=============== linkedin ============*/
  .social__linkedin-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .social__linkedin-link::before {
    display: inline-block;
    font-size: 3em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
}
/*# sourceMappingURL=style.css.map */